*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #E5E4F7;
    display: flex;
}
header{
    display: flex;
    background-color: #FFFDFD;
    box-shadow: 0px 4px 4px 0px #00000040;
}